{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
    {% for about in about_list %}        
        <div class="card-deck">
            <div class="card mt-3">
                <div class="card-body">
                    <h1 class="card-title">{{ about.name }}</h1>
                    <div class="text">
                        <img src="{{ about.photo.url }}" class="rounded">
                        <p class="text"></p>
                    </div>
                    <h4 class="card-title">Experience:</h4>
                    <p class="card-text">{{ about.experience }}</p>
                    <h4 class="card-title">Skills:</h4>
                    <p class="card-text">{{ about.skills }}</p>
                    {% if about.linkedin_link != '' or project.github_link != '' %}
                    <h4 class="card-title">Links:</h4>
                    {% endif %}
                    {% if about.linkedin_link != '' %}
                    <a href="{{ about.linkedin_link }}" class="btn btn-primary">Linkedin</a>
                    {% endif %}
                    {% if project.github_link != '' %}
                    <a href="{{ about.github_link }}" class="btn btn-dark">GitHub</a>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'home' %}" class="btn btn-secondary">&larr; Return</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{%endblock%}