{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card-deck">
    <div class="card mt-3">
      {% if project.preview.url != '' %}
        <img class="card-img-top" src="{{ project.preview.url }}" alt="Project preview">
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{{ project.title }}</h1>
        <p class="card-subtitle mb-2 text-muted">{{ project.short_description }}</p>
        <p class="card-text ">{{ object.description | safe | linebreaks }}</p>
        {% if project.youtube_link != '' or project.github_link != '' %}
        <h5 class="card-title">Links:</h5>
        {% endif %}
        {% if project.youtube_link != '' %}
        <a href="{{ project.youtube_link }}" class="btn btn-danger">YouTube</a>
        {% endif %}
        {% if project.github_link != '' %}
        <a href="{{ project.github_link }}" class="btn btn-dark">GitHub</a>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'home' %}" class="btn btn-secondary">&larr; Return</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}